
.dataMonacoEditor {
    .ant-modal-body {
        // height: 300px;
        .json-textarea{
            font-size: 14px;
            margin-bottom: 10px
        }
    }
}
.ant-form-item{
    margin-bottom: 10px
}