& {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
    font-size: 14px
}

.container {
    flex-grow: 1;
    height: 0;
    background-color: white;
}

// 其它
.global-param {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__name-container {
        flex-grow: 1;
        display: flex;
        align-items: center;

        &__name {
            flex: 1
        }

        &__type {
            margin-left: 5px;
        }
    }

    &__delete {
        width: 20px;
        cursor: pointer;
        color: #999;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #333;
        }
    }
}

.add-param {
    margin-top: 10px;
    margin-left: 10px;
}

.editor-form {
    // display: flex;
}

.func-area {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    padding: 10px;
}
