& {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
    padding-left: 12px;
    font-size: 14px
}

.container {
    flex-grow: 1;
    height: 0;
    background-color: white;
    overflow: auto    
}
