&{
    padding: 10px 15px;
    // padding-bottom: 0
    border: 1px solid #f3f3f3;
    margin-bottom: 15px;
}

.item-list-contain {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .item-list {
        display: flex;
        flex-direction: row;
        // height: 30px;
        align-items: center;
        padding-bottom: 7px;
        margin-bottom: 8px;
        border-bottom: 1px solid #F3F3F3;
        .desc {
            flex: 1;
        }
        .opreate-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon {
                cursor: pointer;
                color: #999;
                padding: 5px;
                &:hover {
                    color: #333;
                }
            }
        }
    }
}
